/.idea/*
/poetry.lock
/.vscode/launch.json
actionables/python/my_test.py
/.venv/*
/build/*
configs/commands-executor-config.json
dist/*
*.docx
*.pdf
**/__pycache__/
deploy/*

commands_automator.log
commands_automator_api.spec
commands_automator_api.exe
uv.lock
llm/resources/resume/Tal_Druckmann.txt
src/commandautomator.egg-info/
src/llm/mcp_servers/job_search/results/*
src/llm/mcp_servers/resume/resources/additional_files/job_description.txt
src/scripts_manager/config/commands-executor-config.json
src/llm/config/llm-config.json
src/llm/mcp_servers/resume/resources/Tal_Druckmann.txt
src/user/config/user-config.json
src/jobs_tracking/config/job-tracking.json
publish/build/*
src/config/commands_automator.config
