/.idea/*
/poetry.lock
/.vscode/launch.json
actionables/python/my_test.py
/.venv/*
/build/*
configs/commands-executor-config.json
dist/*
*.docx
*.pdf
**/__pycache__/
deploy/*

commands_automator.log
commands_automator_api.spec
commands_automator_api.exe
uv.lock
llm/config/llm-config.json
llm/resources/resume/Tal_Druckmann.txt
src/commandautomator.egg-info/
src/commands_automator/llm/mcp_servers/job_search/results/*
src/commands_automator/llm/mcp_servers/resume/resources/additional_files/job_description.txt
src/commands_automator/scripts_manager/config/commands-executor-config.json
src/commands_automator/llm/config/llm-config.json
