
  .login-row {
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 20px;
      width: calc(50% - 40px);
      box-sizing: border-box;
  }

  #user-email {
      flex-grow: 1;
      padding: 5px;
      border: 2px solid #9EA3F5;
      border-radius: 3px;
      background-color: #222;
      color: #fff;
  }

  #login-btn {
      padding: 4px 12px;
      background-color: #9EA3F5;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  #login-btn:hover {
      background-color: #8792da;
  }