QWidget {
    color: #333;
    background-color: #222;
}

QTabBar::tab {
    color: #fff;
    background-color: #222;
    border: 0.5px solid green;
    border-bottom-color: solid green;
    border-top-color: solid green;
    border-top-left-radius: 0.5px;
    border-top-right-radius: 0.5px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected {
    color: #222;
    background-color: green;
}

QLabel {
    color: #fff;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}

QCheckBox {
    color: #fff;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid green;
    border-radius: 3px;
    background: #222;
}

QCheckBox::indicator:checked {
    background: green;
}

QPushButton {
    color: #fff;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}

QComboBox {
    color: #fff;
    background-color: #222;
    border: 2px solid green
}

QComboBox:items {
    color: #fff;
    border: 2px solid rgb(0, 51, 128)
}

QListView {
    color: #fff;
}

QLineEdit {
    color: #fff;
    border: 2px solid green
}

QPlainTextEdit {
    color: #fff;
    border: 2px solid green
}
