/commands-executor-config.json
/command_automator.log
/.idea/*
/poetry.lock
/.vscode/launch.json
python_utils/__pycache__/*
python_utils/pyqt/__pycache__/*
actionables/python/my_test.py
/__pycache__/*
/.venv/*
/build/*
command_automator.executor
command_automator.spec
command_automator.exe
configs/commands-executor-config.json
dist/command_automator.log
configs/chat_bot_keys.txt
tabs/llm/__pycache__/*
tabs/*__pycache__
*.docx
*.pdf
tabs/llm/llm-config.json
tabs/llm/resume/*
tabs/llm/llm_agents/__pycache__/*
tabs/llm/file_stylers/__pycache__/*
*/__pycache__/*
tabs/llm/config/chat_bot_keys.txt
tabs/llm/screenshot_saver.py
tabs/llm/ui_threads/__pycache__/*
tabs/llm/resources/tailored_resume/*
deploy/*