# Commands Automator Unified Configuration File

# Job Tracking Configuration
[job_tracking]
company_name=Wiz
position_title=Backend Engineer
position_url=https://www.wiz.io/careers/job/4615162006/:title?gh_jid=4615162006&gh_src=b63024e56us#app
contact_person=Yair Zaslavasky

# LLM Configuration
[llm]
outputFilePath=C:\\Users\\tdruc\\OneDrive\\Documents\\Resume

# Scripts Manager Configuration
[scripts_manager]
selected_script=Remove parenthesis
additional_text=sasassa{ }
flags=

# User Configuration
[user]
email=tdruck@gmail.com