/* style.css for PyWebView/HTML */

body {
    color: #fff;
    background-color: #222;
    font-family: sans-serif;
    margin: 50px;
    padding: 0;
}

.tab-bar {
    display: flex;
    border-bottom: 0.5px solid #9EA3F5;
    background: #222;
}

.tab {
    color: #fff;
    background-color: #222;
    border: 0.5px solid #9EA3F5;
    border-bottom: none;
    border-top-left-radius: 0.5px;
    border-top-right-radius: 0.5px;
    min-width: 8ex;
    padding: 2px 10px;
    cursor: pointer;
}

.tab.selected {
    color: #222;
    background-color: #9EA3F5;
}

label {
    color: #fff;
    padding: 5px;
    display: block;
    margin: 5px auto;
}

input[type="checkbox"] {
    accent-color: #9EA3F5;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #222;
    border: 1px solid #9EA3F5;
    margin: 5px;
}

button,
.button {
    color: #fff;
    background-color: #9EA3F5;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

select,
.combo {
    color: #fff;
    background-color: #222;
    border: 2px solid #9EA3F5;
    padding: 5px;
    border-radius: 3px;
}

ul,
.list-view {
    color: #fff;
    border: 2px solid #9EA3F5;
    background: #222;
    padding: 5px;
    border-radius: 3px;
    list-style: none;
}

input[type="text"],
.line-edit {
    color: #fff;
    background-color: #222;
    border: 2px solid #9EA3F5;
    border-radius: 3px;
    padding: 5px;
}

textarea,
.plain-text-edit,
.text-edit {
    color: #fff;
    background-color: #222;
    border: 2px solid #9EA3F5;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
